*.o
*.o.d
*.a
*.sdf

project.pbxproj
.classpath
.project

*/cocos2d/build

*/proj.ios_mac/puzzlezip.xcodeproj

*/proj.android/bin
*/proj.android/assets
*/proj.android/gen
*/proj.android/obj
*/proj.android/libs/armeabi

*./proj.win32/Debug.win32

